geopy==1.20.0
requests==2.22.0
tensorflow==2.5.1
Pillow==6.2.1
numpy==1.17.3
"""Installing collected packages: six, absl-py, tensorflow-estimator, gast, wrapt, numpy, opt-einsum, keras-nightly, cached-property, h5py, termcolor, wheel, astunparse, google-pasta, flatbuffers, tensorboard-data-server, oauthlib, requests-oauthlib, cachetools, pyasn1, pyasn1-modules, rsa, google-auth, google-auth-oauthlib, werkzeug, zipp, typing-extensions, importlib-metadata, markdown, grpcio, tensorboard-plugin-wit, protobuf, tensorboard, keras-preprocessing, tensorflow-gpu"""